* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}
h1 {
  font-size: 3rem;
  color: #000 !important;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 60vw;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #fefefe;
}
.TodoTitle {
  color: #575454;
}
.TodoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 550px;
}
.completed {
  color: #555;
  text-decoration: line-through;
}
.TodoContainer .buttonBox {
  display: flex;
  gap: 10px;
}
.TodoContainer button {
  display: block;
  min-height: 100%;
  height: 25px;
}
.formControl {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.formControl input {
  width: 300px;
  display: block;
  padding: 8px 25px 8px 5px;
  outline: 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  height: fit-content;
}
.formControl input:focus {
  border: 2px solid slateblue !important;
}
.formControl button {
  cursor: pointer;
  outline: 0;
  border-radius: 8px;
  height: fit-content;
  border: 0;
  padding: 10px 25px;
  background-color: slateblue;
  color: aliceblue;
}
.parentConatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  background-color: transparent;
  color: #000;
}
.edit {
  border: 2px solid rgb(220, 220, 42);
}
.check {
  border: 2px solid greenyellow;
}
.delete {
  border: 2px solid rgb(227, 51, 51);
}
